@tailwind base;
@tailwind components;
@tailwind utilities;



body{
padding: 0;
margin: 0;
box-sizing: border-box;  
}
.heroContent{
  /* background-image: linear-gradient(to left, rgba(234, 227, 217, 0.5), rgba(173, 137, 92, 0.5)), url(./assets/law1.avif); */
  background-image: linear-gradient(to left, rgba(192, 117, 13, 0.5), rgba(108, 65, 11, 0.5)), url(./assets/law1.avif);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
 
  /* background-image: repeating-conic-gradient(red 10%, yellow 20%);
  border-radius: 50%; */
}


/* google fonts  */
.sedan-sc-regular {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.playfair{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}





/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
